#secondary-about {
	display: block;
}

#ad {
	background-image: url('../images/about/ad-bg.jpg');
	background-size: cover;
	background-position: center;
	background-color: #f7f7f7;
	height: 438px;
}

#about-container, #traits-container, #join-us-container {
	padding: 30px 10%;
}

#about-container {
	background-color: #F0F0F0;
}

#contact-container {
	width:100%;
	height:600px;
	position:relative;
}

#map {
	width:100%;
	height:100%;
}

#button-div {
	position: absolute;
	bottom: 50px;
	left: 150px;
}

button {
	font-size: 20px;
	padding: 8px 27px;
}

#beijing-button {
	background-color: #FFA83F;
}

#shanghai-button {
	background-color: #B1B1B1;
}

#map-box {
	margin-top: 10px; 
	background: #FFA83F; 
	padding: 15px;
	text-align: center;
	color: white;
}

.header1, .top-description {
	text-align: center;
}

.top-description {
	padding: 30px 0;
}

#traits-container {
	background-image: url('../images/about/traits-bg.jpg');
	background-size: cover;
	color: #fff;
}

.trait {
	width: 24%;
	display: inline-block;
    opacity: 1;
}

.trait-text {
    padding: 8% 6%;
}

.trait-text-header {
	font-size: 22px;
	font-weight: 600;
}

.trait-text-description {
	line-height: 26px;
	padding-top: 8%;
}

#join-us-container {
	color: #fff;
	background-color: #00adef;
}

.gray-button {
	vertical-align: top;
	float: right;
}