/* 
    Document   : layout.css
    Created on : 2013.06.24
    Author     : Jessica Kung
*/

body, html {
	font-family: "Microsoft YaHei","微软雅黑",Candara,Tahoma,SimSun !important;
	font-size: 16px;
	background: #fff;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    text-align: left;
    color: #1a1a1a;
    font-weight: 400;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    zoom: 1
}

#header{
	position: fixed;
	top: 0;
	width: 100%;
	height: 84px;
	vertical-align: middle;
	z-index: 9000;
}

#header a:hover {
	color: #fff;
}

img {
	border: 0;
}

#logo {
	margin-left: 10%;
	font-size: 46px;
	margin-top: 17px;
	float: left;
}

#logo a {
	color: #fff;
}

#logo a:hover {
	color: #cfcfcf;
}

#login-register {
	float: right;
	margin-right: 10%;
	font-size: 12px;
	color: #a9a9a9;
}

#login-register a {
	color: #a9a9a9;
}

#main-navbar-wrapper, #secondary-navbar-wrapper {
	width: 100%;
}

#main-navbar-wrapper {
	background-color: #000;
	height: 84px;
}

#secondary-navbar-wrapper {
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.65);
	filter: alpha(opacity=65);
	height: 24px;
}

#main-navbar, #secondary-navbar {
	position: absolute;
	float: right;
	margin-right: 10%;
	right: 0;
}

#main-navbar {
	bottom: 4px;
}

#secondary-navbar {
	bottom: -20px;
}

#secondary-about, #secondary-products {
	display: none;
}

#header.stuck
{
	position: fixed;
    top: 0;
}

ul {
	padding: 0;
	margin: 0;
}

#header li, #header li {
	display: inline;
    padding: 10px 20px 10px 20px;
    font-size: 14px;
}

#header li.first a, #header li.first {
	padding-left: 0px;
}

#header li.last a, #header li.last {
	padding-right: 0px;
}

#header li a {
	text-decoration:none;
	color: #999;
}

#header li a.navbar-active {
	color: #fff;
}

#content-wrapper {
	margin-top: 84px;
}

button {
	background-color: #00adef;
	font-family: "Microsoft YaHei","微软雅黑",Candara,Tahoma,SimSun !important;
	color: #fff;
	border: none;
	vertical-align: middle;
	text-align: center;
	font-size: 26px;
	padding: 14px 44px;
	transition: all 0.4s ease-in-out;
}

button:hover {
	background-color: #008acb;
	cursor: pointer;
	transition: all 0.4s ease-in-out;
}

.blue-button {
	background-color: #00adef;
}

.gray-button {
	background-color: #c7c7c7;
}

.gray-button:hover {
	background-color: #999;
}

.header1 {
	font-size: 66px;
}

.header2 {
	font-size: 44px;
}

.header3 {
	font-size: 22px;
}

.header4 {
	font-size: 16px;
}

.description-text {
	font-size: 16px;
	margin-left: 5px;
}

h1, h2, h3, h4 {
	text-align: left;
	margin: 0;
}

h1 {
	font-size: 66px;
}

h2 {
	font-size: 30px;
}

h3 {
	font-size: 20px;
}

h4 {
	font-size: 16px;
}

a {
	text-decoration: none;
	color: #00adef;
}

a:hover {
	color: #1a1a1a;
	cursor: pointer;
}

*:focus {
    outline: 0;
}

form {
	margin: 0;
}

textarea {
	font-size: 16px;
	padding: 14px;
	border: #cfcfcf 1px solid;
	resize: none;
}

input {
	height: 34px;
	border: #cfcfcf 1px solid;
	padding-left: 4%;
	padding-right: 8%;
	font-size: 16px;
	font-family: "Microsoft YaHei","微软雅黑",Candara,Tahoma,SimSun !important;
}

input[type="submit"]::-moz-focus-inner {border:0;}

::-webkit-input-placeholder { 
	font-family: "Microsoft YaHei", "微软雅黑", Candara, Tahoma, SimSun !important;
	font-weight: 100;
	color: #999;
}

::-moz-placeholder { 
	font-family: "Microsoft YaHei", "微软雅黑", Candara, Tahoma, SimSun !important;
	font-weight: 100; 	
	color: #999; 
} /* firefox 19+ */

:-ms-input-placeholder { 
	font-family: "Microsoft YaHei", "微软雅黑", Candara, Tahoma, SimSun !important;
	font-weight: 100; 
	color: #999;
} /* ie */

input:-moz-placeholder { 
	font-family: "Microsoft YaHei", "微软雅黑", Candara, Tahoma, SimSun !important;
	font-weight: 100;
	color: #999;
}

img.center {
	display: block;
	margin-left: auto;   
	margin-right: auto;
}

#footer {
	width: 100%;
	padding: 6px 0 6px 0;
	background-color: #000;
	font-size: 12px;
	color: #999;
	text-align: center;
	float: left;
}
