#secondary-navbar-wrapper {
	display: none;
}

#content-wrapper {
	width: 1000px;
	height: 1124px;
	position: relative;
	left: 50%;
	margin-left: -500px;
}

#top-content-wrapper {
	padding-top: 20px;
}

#sign-in-register {
	display: inline-block;
	float: right;
}

#left-content-wrapper, #right-content-wrapper {
	width: 49%;
	padding: 20px 0;
}

#left-content-wrapper {
	float: left;
}

#right-content-wrapper {
	float: right;
}

.group {
	width: 100%;
}

.group img {
	width: 90%;
}

.left-image-wrapper {
	width: 50%;
	float: left;
}

.right-text-wrapper {
	width: 50%;
	float: right;
}

#group-1, #group-2 {
	height: 200px;
}

#group-3, #group-4 {
	height: 300px;
}

#terms, #login-button-container {
	margin: 40px 0 0 0;
}

#terms-text, #forgot-password-text {
	margin-bottom: 18px;
}

#forms-wrapper {
	padding: 40px 24px 40px 24px;
	background-color: #fafafa;
	border: #cfcfcf 1px solid;
}

#forms-wrapper h3 {
	padding-bottom: 22px;
	padding-top: 40px;
}

#forms-wrapper h3.first {
	padding-top: 0;
}

#forms-wrapper h4 {
	padding-top: 18px;
	padding-bottom: 10px;
}

.input-group {
	margin-top: 14px;
	height: 34px;
}

.input-group.last {
	margin-bottom: 0;
}

.input-group.first {
	margin-top: 0;
}

input[type="text"], input[type="password"], input[type="email"], input[type="url"] {
	display: block;
	width: 87.6%;
}

input[name="contact-person"] {
	width: 88px;
	display: inline-block;
}

input[name="contact-number"] {
	width: 237px;
	display: inline-block;
}

input[name="email"] {
	width: 237px;
	float: left;
}

select {
	font-size: 16px;
	padding: 14px;
	border: #cfcfcf 1px solid;
	height: 34px;
}

input:focus {
	border: #1a1a1a 1px solid;
	transition: all 0.4s ease-in-out;
}

.label {
	vertical-align: 10px;
}

.error, .contact-person-error, .contact-number-error {
	margin-top: 2px;
	height: 12px;
	font-size: 14px;
	display: none;
	color: red;
	transition: all 0.4s ease-in-out;
}

.contact-person-error {
	width: 30%;
}

.contact-number-error {
	width: 65%;
	margin-left: 7%;
}

button.big {
	height: 48px;
	width: 100%;
	font-size: 24px;
}

button.small {
	padding: 8px;
	font-size: 16px;
	float: left;
	margin: 0 0 0 5px;
	width: 143px;
	line-height: small;
}

button:disabled {
	background-color: #c7c7c7;
}

input.ui-autocomplete-input  {
	width: 88px;
	display: inline;
}

.ui-autocomplete {
  padding: 0;
  list-style: none;
  background-color: #fff;
  width: 6%;
  border: 1px solid #B0BECA;
  max-height: 350px;
  overflow-y: scroll;
}

.ui-autocomplete .ui-menu-item a {
  border-top: 1px solid #B0BECA;
  display: block;
  padding: 4px 6px;
  color: #353D44;
  cursor: pointer;
}
.ui-autocomplete .ui-menu-item:first-child a {
  border-top: none;
}
.ui-autocomplete .ui-menu-item a.ui-state-hover {
  background-color: #D5E5F4;
  color: #161A1C;
}