#secondary-navbar-wrapper {
	display: none;
}

.header2 {
	padding-bottom: 20px;
}

.header3 {
	padding-bottom: 40px;
}

#title-text-container {
	padding: 60px 0 0 10%;
}

#title-text {
	color: #00adef;
	vertical-align: top;
}

#products {
	padding: 30px 10%;
}

.product {
	padding-right: 1%;
	width: 24%;
	float: left;
	display: inline-block;
	color: #1a1a1a;
	opacity: 1;
}

.product img {
	width: 100%;
	transition: all 0.4s ease-in-out;
}

.product:hover > img {
	opacity: 0.5;
	filter: alpha(opacity=50);
}

.product-last {
	padding-right: 0;
}

.product-name {
	position: relative;
	top: -35px;
	color: white;
	font-size: 16px;
	text-align: center;
}

#bottom-panel {
	position: relative;
	margin: 0 10%;
}

#left-container, #right-container, #center-container {
	display: inline-block;
	vertical-align: top;
}

#left-container {
	width: 22%;
}

#center-container {
	width: 42%;
	margin-right: 25px;
}

#right-container {
	width: 22%;
}

.left-links-part {
	margin-bottom: 25px;
}

.line-space-1 {
	padding-bottom:7px;
}

.line-space-2 {
	padding-bottom: 14px;
}

.middle-links {
	line-height:35px;
}

.contact {
	margin-top: 25px;
}

.downloads, .videos, .questions, .docs, .back {
	padding: 50px 10%;
}

.downloads {
	background-color: #f0f0f0;
}

.downloads-description {
	padding-bottom: 30px;
}

.downloads button {
	width: 48%;
}

.right-button {
	float: right;
}

.player-wrapper {
	background-color: #f0f0f0;
}

#video-player {
	display: inline-block;
}

.playlist {
	vertical-align: top;
	display: inline-block;
	margin: 30px 20px;
}

.playlist ul {
	list-style-type: none;
}

.playlist li {
	background-image: url('../images/support/dot.png');
	background-repeat: no-repeat;
	background-position: 0px;
	padding-left: 15px;
	line-height: 30px;
	color: #1a1a1a;
	cursor: pointer;
}

.playlist .active-video {
	color: #00adef;
}

.playlist li:hover {
	color: #00adef;
}

.playlist span {
	margin-left: -	20px;
}

.questions ul {
	list-style-type: none;
}

.questions li {
	background-image: url('../images/support/arrow.png');
	background-repeat: no-repeat;
	background-position: 0px 11px;
	padding-left: 20px;
	line-height: 30px;
}

li.active-question {
	background-image: url('../images/support/arrow-expanded.png');
}

h4 {
	color: #00adef;
	cursor: pointer;
}

/* tiny accordion */
#acc .acc-section {
	overflow: hidden;
}

#acc .acc-content {
	padding: 10px 0 20px 0;
	line-height: 24px;
}

.back {
	background-color: #ffa200;
	color: #fff;
}